@mixin container {
  max-width: 1296px;
  margin: 0 auto;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin transition {
  transition: all .3s;
}

@mixin swiper-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  color: $black;
  background-color: $rgba-1;

}