.swiper {
  width: 1120px;
  height: 360px;
  
}

.swiper-button-next {
  @include swiper-button();

  &:after {
    content: 'next';
    color: $black;
    
  }
}

.swiper-button-prev {
  @include swiper-button();

  &:after {
    content: 'prev';
    color: $black;
    
  }
}

