// COLOR
$black: black;
$white: white;
$yellow: #FADE4B;
$gray: #EFEFEF;
$gray-light: #DCDCDC;
$gray-darken: #99938A;
$red: red;
$rgba: rgba(0, 0, 0, 0.5);
$rgba-1: rgba(255, 255, 255, 0.2);




// FONT-FAMILY
$font-family: 'Roboto', sans-serif;

// FONT-SIZE
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-32: 32px;
$font-48: 48px;


// FONT-WEIGHT
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;




